[1mannotated-doc[0m==0.0.5
[1manyio[0m==4.15.1
[1mcertifi[0m==2026.7.22
[1mcharset-normalizer[0m==3.5.1
[1mclick[0m==8.5.0
[1mcontourpy[0m==1.4.0
[1mcycler[0m==0.12.1
[1mfilelock[0m==4.0.3
[1mfonttools[0m==4.66.0
[1mfsspec[0m==2026.9.0
[1mh11[0m==0.16.0
[1mhf-transfer[0m==0.1.9
[1mhf-xet[0m==1.6.0
[1mhttpcore[0m==1.0.9
[1mhttpx[0m==0.28.1
[1mhuggingface-hub[0m==1.32.0
[1midna[0m==3.20
[1mjinja2[0m==3.1.6
[1mkiwisolver[0m==1.5.1
[1mmarkdown-it-py[0m==4.2.0
[1mmarkupsafe[0m==3.0.3
[1mmatplotlib[0m==3.11.2
[1mmdurl[0m==0.1.2
[1mmflux[0m==0.20.0
[1mmlx[0m==0.32.2
[1mmlx-metal[0m==0.32.2
[1mmpmath[0m==1.3.0
[1mnetworkx[0m==3.7
[1mnumpy[0m==2.5.3
[1mopencv-python[0m==4.14.0.94
[1mpackaging[0m==26.3
[1mpiexif[0m==1.1.3
[1mpillow[0m==12.3.0
[1mplatformdirs[0m==4.11.12
[1mprotobuf[0m==7.36.2
[1mpygments[0m==2.21.0
[1mpyparsing[0m==3.3.3
[1mpython-dateutil[0m==2.9.0.post0
[1mpyyaml[0m==6.0.3
[1mregex[0m==2026.9.10
[1mrequests[0m==2.34.2
[1mrich[0m==15.0.0
[1msafetensors[0m==0.8.0
[1msentencepiece[0m==0.2.2
[1msetuptools[0m==84.0.0
[1mshellingham[0m==1.5.4
[1msix[0m==1.17.0
[1msympy[0m==1.14.0
[1mtokenizers[0m==0.23.2
[1mtoml[0m==0.10.2
[1mtorch[0m==2.14.0
[1mtqdm[0m==4.70.1
[1mtransformers[0m==5.17.0
[1mtyper[0m==0.27.2
[1mtyping-extensions[0m==4.16.0
[1murllib3[0m==2.8.0
